<div class="content" role="main">

    <h2>Choose a game to play with a friend!</h2>
    <div class="card2">
        <button mat-raised-button color="primary" (click)="beginGame()">Start New Game</button>
    </div>
    <div class="card2">
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Game Id</mat-label>
                <input type="text" matInput [formControl]="gameidFormControl" placeholder="Enter a game id to join">
            </mat-form-field>
              <mat-error *ngIf="gameidFormControl.hasError('pattern')">
                Type game id must be all numbers
              </mat-error>
        </form>
        <div class="joinbtn">
            <button mat-raised-button color="primary" (click)="joinGame()">Join</button>
        </div>

    </div>
</div>