
<div>
  
  <mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span>LETTER BOXED GAME</span>
    <span class="example-spacer"></span>
    <div *ngIf="playerStatus">
      <button  mat-raised-button class="example-icon" (click)="logout()">Logout</button>
    </div>
    <div *ngIf="!playerStatus">
      <button  mat-raised-button class="example-icon" (click)="login()">Login</button>
    </div>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar>
<div>
<!-- <div class="content" *ngIf="!playerStatus">
  <h1>Welcome to Lettered Box Game!</h1>
  <p>To get started login or register!</p>
</div> -->

<router-outlet></router-outlet>
<!-- <app-home></app-home> -->
<!-- <app-login></app-login> -->